.bark-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
}

.card {
    width: 20rem;
    margin-right: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.card-img-top {
    /* width: 18rem; */
    height: 18rem;
    object-fit: cover;
    border-radius: 0 !important;
}

.card-body {
    text-align: left;
}

.card-title {
    font-weight: 600;
    color: #233762;
}

.sub-title {
    font-weight: 400;
    color: #233762;
}

.card-text {
    font-weight: 300;
    color: #233762;
}