.search-location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #22355b;
}

.search-location-container .location-label {
    width: 5em;
}

.search-location-container .location-input {
    width: 20em;
    height: 4em;
    padding-left: 1em;
    border: solid .2em  #fc565c;
    color: #22355b;
}

::placeholder {
    color: #22355b;
}