.random-list {
    margin-top: 8em;
}

.random-list-card-img {
    width: 100%;
    height: 34em;
    object-fit: cover;
    margin-bottom: 1em;
}

.random-list-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 88vw;
    margin: 0 auto;
    margin-bottom: 2em;
}

@media screen and (min-width: 480px) {
    .random-list-card-container {
        display: flex;
        flex-wrap: wrap;
    } 
    .random-list {
        width: 70vw;
        margin: 0 auto;
        margin-top: 8em;
    }

    .random-list-card-img {
        display: flex;
        width: 34em;
        height: 34em;
        object-fit: cover;
        margin-bottom: 3em;
        margin-right: 3em;
    }
    .random-list{
        display: flex;
        justify-content: space-evenly;
    }

    .random-list-card-body {
        margin: 0;
        width: auto;
    }
}