.error-container {
    display: flex;
    justify-content: center;
    margin-left: 5em;
}

.error-text {
    font-size: 3.6em;
}

.btn-try-again {
    width: 10em;
    height: 4em;
    padding: 0.35em 1.2em;
    border: none;
    margin-top: 3em;
    margin-bottom: 10em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #fc565c;
    color:#ffffff;
    text-align: center;
    font-size: .8rem;
    margin-left: 2em;
}

.btn-try-again:hover {
    opacity: 0.6;
    transition: 0.3s;
}