.about-container {
    margin-top: 8em;
}

.about-img img {
    margin-bottom: 2em
}

@media screen and (min-width: 480px) {
    .about-container {
        display: flex;
    }
    .about-img img {
        margin-left: 2em;
        flex: 33%;
    }
}