.search-gender-container {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #22355b;
}

.search-gender-container .gender-label {
    width: 5em;
}

.search-gender-container .gender-input {
    width: 20em;
    padding-left: 1em;
}