.search-gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #22355b;
}

.search-gender-container .gender-label {
    width: 5em;
}

.search-gender-container .gender-input {
    width: 21em;
    height: 4.2em; 
    margin-left: 0em !important;
    color: #22355b;
    outline: solid .2em #fd8283;
}

::placeholder {
   font-weight: 100;
   font-size: 1.2em;
}