.search-bar-container .title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
    margin: 1em;
    font-weight: 600;
    color: #22355b;
}

.search-bar-container .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #22355b;
}

.search-bar-container .search-field .breed-label {
    width: 5em;
}


.search-bar-container .search-field .search-input {
    width: 21em;
    height: 4.2em; 
    margin-left: 0em !important;
    color: #22355b;
    outline: solid .2em #fd8283;
    
}
