.nav-bar {
    background: #fc565c;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 120em;
    margin: 0 auto;
    flex-wrap: wrap;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    padding: 1em 2em;
    font-size: 1.8em;
    font-weight: 100;
}

.nav-bar li a {
    text-decoration: none;
    color:#ffffff;
}

.tag-line {  
    color:  #fc565c;
    font-size: 1.8em;
    background: #ffffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 1em 2em;
    padding-left: 5em;
    text-align: center;
}

@media screen and ( min-width: 480px) {
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .tag-line {
        display: flex;
    }
}