.nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag-line {  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:  #141414;
    /* font-size: 1.6em; */
    /* letter-spacing: 1px;
    background: #ffffff;
    font-weight: 500; */
    /* font-family: 'Montserrat', sans-serif; */
    padding: 2em 5em;
    /* padding-left: 5em; */
    text-align: center;
    flex-grow: 1;
}

.tag-line h1 {
    color:  #052a4e;
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.tag-line a {
    text-decoration: none;
}

.wide-nav-menu {
    flex-grow: 2;
    display: none;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    padding: 1em 2em;
    font-size: 1.8em;
    font-weight: 300;
}

.nav-bar li a {
    text-decoration: none;
    color:#052a4e;
}



@media screen and ( min-width: 480px) {
    .nav-bar-narrow {
        display: none;
    }

    .wide-nav-menu {
        display: inline;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .tag-line {
        display: flex;
    }
}