.bark-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
}

.bark-details-card {
    width: 75rem;
    margin-left: 2rem;
}

.bark-info {
    width: 70%;
    text-align: center;
    margin: auto;
    color: #4b4f56;
    font-weight: 300;
    line-height: 34px;
  }

  .bark-details-img {
    
  }

  .bark-details-card-body{
    
  }

  .description {
    width: 40%;
  }