.footer-container {
    display: flex;
    justify-content: center;
    height: 10em;
    margin-top: 5em;
    background-color: #052a4e;
    border-top: 4px solid #fd8283;
    padding-top: 7.5em;
    color: #ffffff;
    width: 100%
}

.footer-container i {
    color: #ffffff;
}

@media screen and (min-width: 480px) {
    .footer-container {
        height: 20em;
        width: 100%;
    }
}