.search-random-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #22355b;
}

.random-select {
    display: flex;
    align-items: center;
}

.search-random-container .match-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
    margin: 1em;
    font-weight: 600;
    color: #22355b;
}

select {
    width: 20em;
    height: 4em;
    border: none;
    outline: solid .2em #fc565c;
    background-color: #ffffff;
    margin-left: 1em;
}

.random-select a {
    text-decoration: none;
}
.search-random-container .random-select{
    color: #22355b;
}

@media screen and (min-width: 480px) {
    .search-random-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}